{% extends "layout.html" %}

{% block title %}
    Dash Board
{% endblock %}

{% block main %}
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Medicine name</th>
                <th class="text-end">Expiry date</th>
                <!-- Add something like a status with indcators -->
                <th class="text-end">Quantity</th>
                <th class="text-end">Price</th>
                <!-- <th class="text-end">TOTAL</th> -->
            </tr>
        </thead>
       <tbody>
                {% for ele in meds %}
                <tr>
                    <td class="text-start">{{ ele["name"] }}</td>
                    <td class="text-end">{{ ele["expiry_date"]}}</td>
                    <td class="text-end">{{ ele["quantity"] }}</td>
                    <td class="text-end">{{ ele["price"] }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}
