{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Stock</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
       <tbody>


            {% for ele in purchases %}
                <tr>
                    <td class="text-start">{{ ele["symbol"] }}</td>
                    <td class="text-end">{{ ele["shares"]}}</td>
                    <td class="text-end">{{ ele["price"] }}</td>
                    <td class="text-end">{{ ele["purchased_at"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
