{% extends "layout.html" %}

{% block title %}
    Dash Board
{% endblock %}

{% block main %}
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Medicine name</th>
                <th class="text-end">Status</th>
                <!-- Add something like a status with indcators -->
                 <th class="text-end">Expiry date</th>
                <th class="text-end">Quantity</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
                <th class="text-end">Sell</th>
            </tr>
        </thead>
       <tbody>
                {% for ele in meds %}
                <tr>
                    <td class="text-start">{{ ele["name"] }}</td>
                    {% if ele.status == "red" %} 
                    <td class="text-end"><span class="badge bg-danger-subtle border border-danger-subtle text-danger-emphasis rounded-pill">Clearance sale</span></td>
                    {% elif ele.status == "yellow" %}
                    <td class="text-end"><span class="badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill">Give discounts</span></td>
                    {% elif ele.status == "green" %}
                    <td class="text-end"><span class="badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill">Sell full price</span></td>
                    {% else %}
                    <td class="text-end"><span class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-pill">Expired-Dispose</span></td>
                    {% endif %}
            
                    <td class="text-end">{{ ele["expiry_date"] }}</td>
                    <td class="text-end">{{ ele["quantity"] }}</td>
                    <td class="text-end">{{ ele["price"] }}</td>
                    <td class="text-end">{{ ele["TOTAL"] }}</td> 
                    <td class="text-end">
                    {% if ele.status == "expired" %}
                    <form action="/dispose" method="post">
                        <input name="id" type="hidden" value="{{ ele.id }}">
                        <button type="submit" class="btn btn-danger">Dispose</button>
                    </form>
                    {% else %}
                    <form action="/sell" method="post">
                        <input name="medid" type="hidden" value="{{ ele.id }}">
                        <button type="submit" class="btn btn-success">Sell</button>
                    </form>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
                <td class="border-0 text-end">{{ bal }}  </td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ total }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
